@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.menu {
    width: 700px;
    margin: 60px auto;
    background-color: #000000a2;
    color:  white;
    padding: 50px 0;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    
    display: grid;
    grid-template-columns: repeat(1,600px);
    grid-template-rows: repeat(5, 250px);
    justify-content: space-evenly;
    row-gap: 50px;
 }

 .menuItem {
    padding: 10px;
    background-color: #0000008c;
    display: flex;
    column-gap: 15px;
 }

 .itemImg {
   width: 180px;
 }

 .itemImg img {
    width: 180px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .description {
   flex-grow: 2;
   font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
 }

 .description h3 {
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
 }
