.menu {
    width: 700px;
    margin: 60px auto;
    background-color: #000000a2;
    color:  white;
    
    display: grid;
    grid-template-columns: repeat(1,600px);
    grid-template-rows: repeat(5, 300px);
    justify-content: space-evenly;
    row-gap: 50px;
 }

 .menuItem {
    padding: 10px;
    background-color: #0000008c;

    display: flex;
 }

 .menuItem:first-of-type {
    margin-top: 50px;
 }

 .menuItem:last-of-type {
    margin-bottom: 50px;
 }

 .description {
    flex-grow: 2;
 }